header.horizontal nav ul li{
  display: inline;
  padding: 10px 15px;
}

header.horizontal nav {
  text-align: center;
}

header.horizontal nav.menu{
  font-family: 'Comic Neue', cursive;
  font-size: 25px; 
  -webkit-text-stroke: 1px rgb(100, 100, 100);
  color: transparent;
}
